.container {
    margin-bottom: 100px;
}
.pink-bg {
    background-color: #fceae8;
}
.price {
    color: #FF136F;
}
.btn {
    border: none;
}
.btn:hover {
    color: whitesmoke;
}
.buy-now-button {
    background-image: linear-gradient(#FF589B 0%, #FF136F 100%);
    color: #ffffff;
    font-size: 1.1rem;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 400px;
}
#subscribe h5 {
    color: gray;
}